<h1  class="center padding-12">cy.get()</h1>
<h1  class="center padding-12">cy.contains()</h1>
<h1  class="center padding-12">cy.should()</h1>
<h3 class="center">cy.get('form').should('have.class', 'align-center') ..'not.have.value', ‘be.empty’, ‘be.visible’ etc..</h3>
<h1  class="center padding-12">cy.type()</h1>
<h3 class="center">Types into the selected DOM element, can also include commands such as backspace, del, enter</h3>
<h1  class="center padding-12">cy.click()</h1>
<h3 class="center">Used to click a DOM element</h3>
<h3 class="center">cy.get('.btn-primary').click() or cy.contains('Add Account').click()</h3>
<h1  class="center padding-12">cy.pause()</h1>
