<h1 class="center padding-12">$ npm install cypress</h1>
<div class="center">
    <img class="image padding-12" src="../../../assets/angular-img.svg" alt="Angular">
    <img class="image padding-12" src="../../../assets/react-img.svg" alt="React">
  </div>
<div class="center">
  <img class="image padding-12" src="../../../assets/chrome-img.svg" alt="Chrome">
  <img class="image padding-12" src="../../../assets/electron-img.svg" alt="Electron">
  <img class="image padding-12" src="../../../assets/edge-img.svg" alt="Edge">
  <img class="image padding-12" src="../../../assets/firefox-img.svg" alt="Firefox">
  <img class="image padding-12" src="../../../assets/brave-img.svg" alt="Brave">
</div>